/* Hide the menu icon */
#MainMenu {
    visibility: hidden;
}

/* Upper red horizontal line  */
div[data-testid="stDecoration"] {
    visibility: hidden;
}

/* Only left button (Detect button) */
/* Justify it to the right in order to be align with the other button */
div[data-testid="stHorizontalBlock"]> div:first-child > div > div > div > div {
    display: flex;
    justify-content: end; 
} 

div.stButton > button {
    width: 25%;
    font-weight: 600;
}

div.stButton > button:first-child {
    background-color: var(--primaryColor);
    color: var(--accentTextColor);
}

div.stButton > button:hover {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

div.stButton > button:focus:not(#fakeId) {
    background-color: var(--primaryColor);
    color: var(--accentTextColor);
}

div.block-container {
    padding-bottom: 5rem;
}

/* Footer alignment (Made with ...) */
footer {
    text-align: right;
}

footer > a[href="//streamlit.io"] {
    color: var(--primaryColor)
}