/* Hide the menu icon */
#MainMenu {
    visibility: hidden;
}

/* Upper red horizontal line  */
div[data-testid="stDecoration"] {
    visibility: hidden;
}

/* Footer alignment (Made with ...) */
footer {
    text-align: right;
}

footer > a[href="//streamlit.io"] {
    color: var(--primaryColor)
}